# ============================
# OS & Editor Files
# ============================
.DS_Store
*.swp
*.swo
.idea/
*.iml
.vscode/
xcuserdata/
*.xccheckout
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# ============================
# Build & Derived Data
# ============================
build/
DerivedData/
*.hmap
*.ipa
*.app
*.apk
*.aab
.cxx/

# Android Gradle
.gradle/
local.properties

# iOS
**/Pods/
*.xcworkspace

# ============================
# Dependencies
# ============================
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/vendor/bundle/

# ============================
# Environment & Secrets
# ============================
.env
.env.*
*.keystore
!debug.keystore
**/.xcode.env.local

# ============================
# Logs & Temp Files
# ============================
npm-debug.log*
yarn-error.log*
*.hprof
.metro-health-check*
/coverage/

# ============================
# Fastlane
# ============================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# ============================
# Bundle Artifacts
# ============================
*.jsbundle

# ============================
# Expo (if using)
# ============================
.expo/
.expo-shared/
